{#
This file is part of Hi-Media Quizzes.

Hi-Media Quizzes is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hi-Media Quizzes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Hi-Media Quizzes. If not, see <http://www.gnu.org/licenses/>.
#}

{%- if form is defined -%}
    {%- form_theme form '::forms.twig' -%}
{%- endif -%}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}QCM{% if subtitle is defined %} – {{ subtitle }}{% endif %}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="{{ app.request.basepath }}/css/bootstrap.css" media="screen" rel="stylesheet">
            <link href="{{ app.request.basepath }}/css/bootstrap-responsive.css" media="screen,print" rel="stylesheet">
            <link href="{{ app.request.basepath }}/css/docs.css" media="screen,print" rel="stylesheet">
            <link href="{{ app.request.basepath }}/css/qcm.css" media="screen,print" rel="stylesheet">
            <link href="{{ app.request.basepath }}/css/qcm-print.css" media="print" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div id="page">
            <header>
                <div class="container">
                    <h1>
                        <img src="{{ app.request.basepath }}/img/hi-media-logo.png" alt="Hi-Media logo" title="Logo Hi-Media">
                        {%- if subtitle is defined -%}
                            {{ subtitle }}<small> – QCM Technique</small>
                        {% else -%}
                            QCM Technique<small>, pour développeurs…</small>
                        {% endif %}
                    </h1>
                </div>
            </header>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                {% block footer %}
                    <span>&copy; Copyright 2013 by <a href="http://www.hi-media.com/">Hi-Media</a>.</span>
                {% endblock %}
            </footer>
        </div>
        {% block js %}
            <script src="{{ app.request.basepath }}/js/jquery-1.10.2.min.js"></script>
            <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>