{#
Copyright (c) 2013 Hi-Media
Copyright (c) 2013 Geoffroy Aubry <gaubry@hi-media.com>

This file is part of Hi-Media Quizzes.

Hi-Media Quizzes is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hi-Media Quizzes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Hi-Media Quizzes. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "::base.twig" %}

{% block content %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row-fluid">
        <div class="span4 offset4 qcm">
            <h4>
                Admin – connexion
                <div class="pull-right" title="Revenir à l'accueil"><a href="{{ path('admin_logout') }}"><i class="icon-eye-close"></i> annuler</a></div>
            </h4>
            <form action="{{ path('admin_login_check') }}" method="post">
                <fieldset>
                    {% if error is not empty %}
                        <div class="alert alert-block alert-error fade in">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p>{{ error }}</p>
                        </div>
                    {% endif %}
                    <div class="control-group ">
                        <label for="_username" class="required">Identifiant :</label>
                        <div class="controls">
                            <input type="text" id="_username" name="_username" required="required" placeholder="identifiant" value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="control-group ">
                        <label for="_password" class="required">Mot de passe :</label>
                        <div class="controls">
                            <input type="password" id="_password" name="_password" required="required">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" />
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
