{#
This file is part of Hi-Media Quizzes.

Hi-Media Quizzes is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hi-Media Quizzes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Hi-Media Quizzes. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "::base.twig" %}
{% import "::macros-stats.twig" as macros %}

{% block head %}
    {{ parent() }}
    <meta http-equiv="refresh" content="10" />
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="span10 offset1 qcm">
            <h4>
                Sessions
                <div class="pull-right" title="Se déconnecter de l'interface d'administration"><a href="{{ path('admin_logout') }}"><i class="icon-eye-close"></i> se déconnecter</a></div>
            </h4>

            <table id="sessions" class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Candidat</th>
                        <th>Questionnaire</th>
                        <th>Statut</th>
                        <th>Date de fin</th>
                        <th>Score <small>/100</small></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ macros.sessions_rows(sessions, 1) }}
                </tbody>
            </table>

            <p id="listed_sessions">
                <span id="nb_listed_sessions">{{ nb_listed_sessions }}</span> sessions listées
                sur un total de <span id="">{{ total_nb_sessions }}</span>.
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var nb_listed_sessions = $('#sessions tbody tr').length;
            var total_nb_sessions = {{total_nb_sessions}};
            var load = false;
            var offset = $('#sessions tbody tr:last').offset();

            $(window).scroll(function(){
                if (
                    (offset.top-$(window).height() <= $(window).scrollTop())
                    && (nb_listed_sessions < total_nb_sessions)
                    && load==false
                ) {
                    load = true;
                    $.ajax({
                        url: './sessions/offset/' + nb_listed_sessions,
                        type: 'get',

                        success: function(data) {
                            load = false;
                            $('#sessions > tbody:last').append(data);
                            nb_listed_sessions = $('#sessions tbody tr').length;
                            $('#nb_listed_sessions').html(nb_listed_sessions);
                            offset = $('#sessions tbody tr:last').offset();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}