{% extends "::base.twig" %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="span8 offset2 qcm">
        <form action="#" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <legend>Débuter une nouvelle session</legend>
                {{ form_widget(form) }}
            </fieldset>
        </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/bootstrap-filestyle.min.js"></script>
    <script>
        $(document).ready(function(){
            $(":file").filestyle({
                buttonText: "Choisir un QCM",
                classInput: "input-xlarge"
            });
        });
    </script>
{% endblock %}