{#
This file is part of Hi-Media Quizzes.

Hi-Media Quizzes is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hi-Media Quizzes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Hi-Media Quizzes. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "::base.twig" %}
{% use "::quiz-description.twig" %}

{% block content %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row-fluid">
        <div class="span4 qcm">
            <h4>
                <i class="icon-user"></i> Identification
                <div class="pull-right" title="Choisir une autre session"><a href="/new-quiz"><i class="icon-remove"></i> annuler</a></div>
            </h4>
            <form action="#" method="post">
                <fieldset>
                    {{ form_widget(form) }}
                </fieldset>
            </form>
        </div>
        <div class="span8 qcm">
            <h4>Déroulement</h4>
            <h5>Consignes</h5>
            <ul>
                <li>
                    Vous avez {{ block('quiz_description_nb_questions') }},
                    regroupées en {{ block('quiz_description_themes') }}.
                </li>
                <li>Thèmes, questions et propositions arrivent dans un ordre différent à chaque session.</li>
                <li>Vous n'avez pas accès à Internet.</li>
                <li>Le temps restant est affiché constamment.</li>
                <li>Pas moyen de revenir sur une question précédente (page précédente sans effet).</li>
                <li>La formulation au singulier ou au pluriel des questions ne présage pas du nombre de cases à cocher.</li>
                <li>Toute question admet au moins une bonne proposition et au moins une mauvaise proposition.</li>
            </ul>
            <div class="alert alert-block">
                <strong>Attention !</strong> Il vaut mieux s'abstenir de toute réponse lorsque l'on n'est pas sûr de soi car le QCM est à points négatifs.
            </div>
            <h5>Barème</h5>
            Soit <code>P</code> le nombre de propositions de réponse d'une question :
            <ul>
                <li>
                    Chaque question nécessite de cocher <code>1</code> à <code>P-1</code> cases et rapporte
                    de <code>-1</code> à <code>1</code> point, <code>0</code> si non répondue.
                </li>
                <li>Si une question requiert <code>N</code> cases cochées pour la bonne réponse, alors :
                    <ul>
                        <li>chaque case bien cochée rapporte <code>1/N</code> point,</li>
                        <li>chaque case mal cochée enlève <code>1/(P-N)</code> point.</li>
                    </ul>
                </li>
            </ul>
            <div class="alert alert-info">
                <strong>Il en découle que les trois stratégies suivantes aboutissent à un score nul :</strong>
                <ul>
                    <li>cocher toutes les cases,</li>
                    <li>n'en cocher aucune</li>
                    <li>et statistiquement cocher au hasard <code>1</code> à <code>P-1</code> cases.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}