{#
Copyright (c) 2013 Hi-Media
Copyright (c) 2013 Geoffroy Aubry <gaubry@hi-media.com>

This file is part of Hi-Media Quizzes.

Hi-Media Quizzes is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Hi-Media Quizzes is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Hi-Media Quizzes. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "::base.twig" %}
{% use "::quiz-description.twig" %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="span8 offset2 qcm">
            <h4>
                Débuter une nouvelle session
                <div class="pull-right" title="Se connecter à l'interface d'administration"><a href="{{ path('admin_sessions') }}"><i class="icon-eye-open"></i> Admin</a></div>
            </h4>
            <form action="#" method="post" {{ form_enctype(form) }}>
                <fieldset>
                    {{ form_errors(form) }}
                    <div class="quizzes">
                        {% for choice, quiz_stats in quizzes %}
                            {% spaceless %}
                            {% if quiz_stats.status != 'hidden' %}
                                {% if quiz_stats.status == 'deactivated' %}
                                    {% set class, title, value = ' deactivated', 'Questionnaire désactivé.', '' %}
                                {% else %}
                                    {% set class, title, value = '', 'Démarrer ce questionnaire…', choice %}
                                {% endif %}
                                <label class="radio{{ class }}" title="{{ title }}">
                                    <input
                                        type="radio" name="form[quizzes]"
                                        value="{{ value }}"
                                        {{ quiz_stats.status == 'deactivated' ? ' disabled="disabled"' }}
                                    >
                                    <h5>{{ quiz_stats.title }}</h5>
                                    <blockquote>
                                        <p>{{ block('quiz_description_nb_questions') }},</p>
                                        <p>{{ block('quiz_description_themes') }}.</p>
                                    </blockquote>
                                </label>
                            {% endif %}
                            {% endspaceless %}
                        {% endfor %}
                    </div>
                    {% do form.quizzes.setRendered %}
                    {{ form_rest(form) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('input[type=radio]').click(function() {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}